services:
    nginx:
        image: nginx:alpine
        container_name: nginx
        depends_on:
            - server
            - client
        ports:
            - "80:80"
        volumes:
            - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
            - client_dist:/usr/share/nginx/html:ro
        restart: unless-stopped
