services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: app:latest
        container_name: app
        expose:
            - "8080"
        ports:
            - "8080:8080"

    nginx:
        image: nginx:alpine
        container_name: nginx
        depends_on:
            - app
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
